.col-center-block{
    float: none;  
    display: block;  
    margin-left: auto;  
    margin-right: auto; 
    margin-top: 140px;
    padding: 30px 40px;
}
.col-center-block:hover{
    border: 1px solid #dcdcdc;
}
.ui-title{
    text-align: center; 
    margin-bottom: 20px;
}
input[type="text"]{
    margin-bottom: 10px;
}